body{
    font-family: 'Raleway', sans-serif;
}
h2{
    font-family: 'Oswald', sans-serif;
    font-size: 3.25em;
    font-weight: bold;
}
.fondo-lila{
    background-color: #591647;
}
.hero{
    background-image: url('../img/hero-1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: text-bottom;
    font-family: 'Oswald', sans-serif;
    filter: hue-rotate(160deg);
}
.padding-top{
    padding-top: 100%;
}
.carousel-indicators {
	top: 460px;
}
.carousel-control-prev:link, 
.carousel-control-next:link {
	background-color: #391867;
	width: 2rem;
	opacity: 0.3;
}
.trabajos, footer{
    background-color: #591647;
}
.trabajos h2{
    color: white;
}
.btn-purple {
	background-color: #745d94;
	border-color: #745d94;
	color: white;
}
.bg-purple {
	background-color: #35224B;
}
.textwall-negro:after {
    content: " ";
    display: block;
    text-align: center;
    height: 2px;
    margin: 3% 45% 0;
    background: #212529;
}
.textwall-blanco:after {
    content: " ";
    display: block;
    text-align: center;
    height: 2px;
    margin: 3% 45% 0;
    background: white;
}
footer{
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    font-weight: bold;
}